FSC_Dashboard/bin
FSC_Dashboard/obj
FSC_Dashboard_DL/bin
FSC_Dashboard_DL/obj
FSC_Dashboard_BL/bin
FSC_Dashboard_BL/obj
FSC_Dashboard_Entity/bin
FSC_Dashboard_Entity/obj
FSC_Dashboard_Logger/bin
FSC_Dashboard_Logger/obj