
<style>
    .chart-area{
        border:1px dotted white;
        height:250px
    }
    .flight-sec-right {
        border: 1px dotted white;
        height: 250px;
        width: 100%;
        margin-left: -20px;
    }
</style> 

 <!-- Content Header (Page header) -->
<section class="content-header">
    <center>
        <p>
            Flight Section          
        </p>
    </center> 
</section>

<!-- Main content -->

<div class="row">
    <div class="col-lg-8">
        <div class="flight-sec-left">
            <div class="col-md-4 chart-area">

            </div>
            <div class="col-md-4 chart-area">

            </div>
            <div class="col-md-4 chart-area">

            </div>

        </div>
    </div>
    <div class="col-lg-4">
        <div class="flight-sec-right">


        </div>
    </div>
</div>

